:root {
    --primary-color: #33711c;
    --bg-color: #F9F9F7;
    --text-color: #1A1A1A;
    --border-color: #D1D5DB;
    --text-light-color: #F9F9F7;
    --primary-font: Inter;  /* --- Inter:wght@400;600 (sans-serif) --- */
    --secondary-font: Lora; /* --- Lora:wght@700 (serif) --- */
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

a {
    text-decoration: none;
}


p {
    margin-top: 0.5rem;
}

.text-link {
    color: var(--text-color);
    text-decoration: underline;
}

ul {
    margin-left: 2rem;
    list-style-type: disc;
}

.logo {
    font-family: 'Lora', serif;
    font-size: 2rem; /* --- Eli suhteessa oletusfonttikokoon (:root) --- */
    color: var(--text-color);
    transition: 0.15s;
    text-decoration: none;
}

.logo:hover {
    cursor: pointer;
    opacity: 0.8;
}

h1, h2, h3 {
  font-family: 'Lora', serif;
  font-weight: 700;
  margin: 1rem 0;
  color: var(--text-color);
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: var(--bg-color);
    color: var(--text-color)
}

button {
    transition: 0.25s;
    border: none;
    background-color: var(--primary-color);
    color: var(--text-light-color);
    padding: 1em 1.5em;
    margin: 2rem 0.5rem 0 0;
    cursor: pointer;
    width: 8rem;
    border-radius: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-weight: bold;
    display: inline-block;
}

button:hover {
    opacity: 0.8;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
}

button:active {
    opacity: 0.7;
}





.header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px;
    border-color: var(--border-color);
    border-bottom-style: solid;
    padding: 20px;
}

.mid-header {
    align-items: center;
    display: flex;
    justify-content: center;
    flex: wrap;
}

.anav {
    text-decoration: none;
    font-weight: bold;
    color: var(--text-color);
    transition: 0.15s;
    padding: 1rem;
}

.anav:hover {
    color: var(--primary-color)
}

.button-header {
    transition: 0.25s;
    border: none;
    background-color: var(--primary-color);
    color: var(--text-light-color);
    padding: 1em 1.5em;
    cursor: pointer;
    max-width: 8rem;
    border-radius: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-weight: bold;
    align-items: right;
}

.button-header:hover {
    opacity: 0.8;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
}

.button-header:active {
    opacity: 0.7;
}



.footer {
    border-top: 1px;
    border-color: var(--border-color);
    grid-template-areas: 
        "logo"
        "mid-footer"
        "copyright";
    border-top-style: solid;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.logo-footer {
    font-family: 'Lora', serif;
    font-size: 2rem;
    color: var(--text-color);
    transition: 0.15s;
    text-decoration: none;
    display: inline;
    padding-bottom: 12px;
    margin-bottom: 0;
}

.logo-footer:hover {
    cursor: pointer;
    opacity: 0.8;
}

.mid-footer {
    padding: 1rem 0 0.8rem 0;
}

.copyright {
    margin-inline: auto;
}



.container {
    max-width: 1000px;
    margin-inline: auto;
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
}



.home-1 {
    display: grid;
    grid-template-areas: 
        "text-home-1 image-home-1";
}

.text-home-1 {
    margin: auto 0;
    margin-right: 1rem;
}

.image-home-1 {
    
}

